
<div class="text-center">
  <a href="" data-ng-click="loginOauth('facebook')"><img src="/images/facebook.png"/></a>
  <a href="" data-ng-click="loginOauth('google')"><img src="/images/google.png"/></a>
</div>

<div class="text-center">
    <br />
    <h2>OR</h2>
    <br />
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="well">

            <form class="form-horizontal" name="loginForm" ng-submit="login()" novalidate>
                <fieldset>
                    <legend>Login</legend>

                    <!-- EMAIL -->
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && submitted }">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" name="email" placeholder="Email" class="form-control" ng-model="email" required/>
                            <p ng-show="loginForm.email.$invalid && submitted" class="help-block">E-Mail is required.</p>
                        </div>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && submitted }">
                        <label class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" name="password" placeholder="Password" class="form-control" ng-model="password" required/>
                            <p ng-show="loginForm.password.$invalid && submitted" class="help-block">Password is required.</p>
                        </div>
                    </div>
                    
                    <!-- BUTTONS -->
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Log in</button>&nbsp; or &nbsp;
                            <a ui-sref="signup" title="sign up">Sign up</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>