<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{ match._id ? 'Edit match' : 'Add match' }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="left control-label">Due Date: </label>
                
            <div class="left">
                <p class="input-group">
                    <input type="text" class="form-control" ng-model="match.dueDate" 
                            is-open="opened" ng-required="true" close-text="Close" datepicker-popup="dd.MM.yyyy"/>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
            
        <table>
            <tr><th>Home</th><th></th><th>Guest</th></tr>
            <tr>
                <td><input type="text" class="form-control" placeholder="Home team" ng-model="match.homeTeam"/></td>
                <td>&nbsp; - &nbsp;</td>
                <td><input type="text" class="form-control" placeholder="Guest team" ng-model="match.guestTeam"/></td>

                <td class="match-score-left-col"><input type="text" class="match-score form-control" ng-model="match.homeScore" /></td>
                <td>&nbsp; : &nbsp;</td>
                <td><input type="text" class="match-score form-control" ng-model="match.guestScore" /></td>
            </tr>
        </table>

    </div>
    <div class="modal-footer">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
        </span>
    </div>
</div>