body {
    padding-top: 50px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

.modal {
  display: block; 
}

.main {
    margin-top: 50px;
}

.header-logo {
    background: url(../images/tipexpert_v4_2.png) no-repeat;
    background-size: 90px, 25px;
    width: 100px;
    height: 20px;
}

.login-info {
    margin: 10px 0px 10px 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.main-content {
    margin-top: 15px;
    margin-left: 40px;
}

.center-login {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.league-list {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.league-item, .league-item-editor {
    line-height: 3em;
    padding: 0px 5px 0px 5px;
}

.league-item:hover, .league-item.selected:hover {
    background-color: #fff;
    cursor: pointer;
}

.league-item.selected {
    background-color: #c0c3ce;
}

.new-item {
    margin-top: 10px;
}

.league-list li {
    border-bottom: 1px #fff solid;
}

.league-list li:first-child {
    border-top: 1px #fff solid;
}

.league-list li:last-child {
    border-bottom: 0;
}

.league-item > .league-edit-buttons {
    display: none;
}

.league-item:hover > .league-edit-buttons {
    display: block;
    float: right;
    margin-right: 5px;
}

.edit-button {
    margin: 5px;
}

.left-area {
    padding: 10px;
    max-width: 300px;
    background-color: #dedede;
}

.save-match-buttons {
    margin: 10px 20px;
}

.save-match-buttons .input-group-btn {
    width: 100px;
}

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%; /* Default */
    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
    padding-top: 10px;
    text-align: left;
}

.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
}

/* GAME */
.game-title {
    font-size: 20px;
}

.buttonbar-offset {
    margin-top: 80px;
}

.players-container {
    margin-top: 40px;
}