body {
    padding-top: 60px;
    background-color: #ECECEC;
}

.navbar-default {
  background-color: #52646E;
  border-bottom: 5px #B1C901 solid;
}

.alert-container {
    position: absolute;
    top: 64px;
    left: 50%;
}

.inner-alert-container {
    position: relative;
    left: -50%;
}

.alert {
    margin-bottom: 0;
}

section.main {
    margin-top: 50px;
    padding-bottom: 130px;
}

.footer-navbar {
    min-height: 60px;
    background: #B1C901;
    border-top: 5px #52646E solid;
}

.footer-content-left {
    color: #FFFFFF;
    margin: 5px 10px 0 0;
}

.footer-content-right {
    color: #FFFFFF;
    margin: 5px 0 0 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}


.modal {
  display: block; 
}

.modal-description {
    margin-bottom: 30px;
}

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%; /* Default */
    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
    padding-top: 10px;
    text-align: left;
}

.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
}

.buttonbar-offset {
    margin-top: 80px;
}