h1 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

#header-logo {
    background: url(../images/tipexpert_v4_2.png) no-repeat;
    background-size: 200px, 50px;
    width: 200px;
    height: 50px;
}

.login-info {
    margin: 10px 0px 10px 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.league-list {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.league-item {
    line-height: 3em;
    padding-left: 5px;
}

.league-item:hover {
    background-color: #fff;
    cursor: pointer;
}

.new-item .league-item:hover {
    background-color: inherit;
    cursor: inherit;
}

.league-list li {
    border-bottom: 1px #fff solid;
}

.league-list li:first-child {
    border-top: 1px #fff solid;
}

.league-list li:last-child {
    border-bottom: 0;
}

.left-area {
    padding: 10px;
    max-width: 300px;
    background-color: #dedede;
}