<form method="post" action="{{ action }}" enctype="multipart/form-data" role="form" class="form-horizontal">
    
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    
    {% if !article.isNew %}
        <input type="hidden" name="_method" value="PUT">
    {% endif %}

    <div class="group">
        <label for="title" class="label">Title</label>
        <div class="input-container">
            <input id="title" type="text" name="title" value="{{ article.title }}" placeholder="Enter the title" class="control">
        </div>
    </div>
    <div class="group">
        <label for="desc" class="label">Body</label>
        <div class="input-container">
            <textarea id="desc" rows="5" name="body" placeholder="Enter the article description" class="control">{{ article.body }}</textarea>
        </div>
    </div>
    <div class="group">
        <label for="tags" class="label">Tags</label>
        <div class="input-container">
            <input id="tags" type="text" name="tags" value="{{ article.tags }}" placeholder="Enter the tags" class="control">
        </div>
    </div>
    <div class="group">
        <div class="button-container">
            <button type="submit" class="btn btn-primary">Save</button>&nbsp;<a href="/articles" title="cancel" class="btn">Cancel</a>
        </div>
    </div>
</form>