{% if errors.length %}

    <h3>{{ __('Errors') }}:</h3>
    <ul>
    {% for error in errors %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>

{% endif %}

<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <form method="post" action="{{ action }}" enctype="multipart/form-data" role="form" class="form-horizontal">
                <fieldset>
                    <legend>{{ __('Articel') }}</legend>

                    <input type="hidden" name="_csrf" value="{{ csrf_token }}">

                    {% if !article.isNew %}
                    <input type="hidden" name="_method" value="PUT">
                    {% endif %}

                    <div class="form-group">
                        <label for="title" class="col-lg-2 control-label">{{ __('Title') }}</label>
                        <div class="col-lg-10">
                            <input id="title" type="text" name="title" value="{{ article.title }}" placeholder="{{ __('Enter the title') }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="desc" class="col-lg-2 control-label">{{ _('Body') }}</label>
                        <div class="col-lg-10">
                            <textarea id="desc" rows="5" name="body" placeholder="{{ __('Enter the article description') }}" class="form-control">{{ article.body }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags" class="col-lg-2 control-label">{{ __('Tags') }}</label>
                        <div class="col-lg-10">
                            <input id="tags" type="text" name="tags" value="{{ article.tags }}" placeholder="{{ __('Enter the tags') }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>&nbsp;<a href="{{ url('article') }}" title="cancel" class="btn">{{ __('Cancel') }}</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
