{% extends '../layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

{% include "socialLogin.html" %}

<div class="center">
    <br />
    <h2>OR</h2>
    <br />
</div>

<div>
    <div class="login">

      <form class="form-horizontal" action="{{ url('auth') }}" method="post" role="form">

          <input type='hidden' name='_csrf' value="{{ csrf_token }}"/>

            <div class="group">
                <label for="email" class="label">Email</label>
                <div class="input-container">
                    <input id="email" type="email" name="email" placeholder="Email" class="control" />
                </div>
            </div>

            <div class="group">
                <label for="password" class="label">Email</label>
                <div class="input-container">
                    <input id="password" type="password" name="password" placeholder="Password" class="control" />
                </div>
            </div>

            <div class="group">
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Log in</button>&nbsp; or &nbsp;
                    <a href="{{ url('signup') }}" title="sign up" class="show-signup">Sign up</a>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}
