<div class="left left-area">
    <h2>Leagues</h2>
    <p>Select a league in order to show all available matches for this league.</p>

    <ul class="league-list">
        <li ng-repeat="league in leagues">
            <div ng-click="loadMatches(league)">
                
                <div ng-hide="league.editorEnabled" class="league-item" ng-class="league == selectedLeague ? 'selected' : ''">
                    <div class="left">{{ league.name }}</div>
                    <div class="league-edit-buttons">
                        <span ng-click="editLeague(league)" class="edit-button glyphicon glyphicon-pencil"></span>
                        <span ng-click="removeLeague(league)" class="edit-button glyphicon glyphicon-trash"></span>
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div ng-show="league.editorEnabled" class="input-group league-item-editor">
                    <input type="text" class="form-control" ng-model="league.editableName">
                    
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="saveLeague(league)"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-default" type="button" ng-click="cancelEditLeague(league)"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </div>

            </div>
        </li>

        <li class="new-item">
            <div class="input-group">
                <input type="text" class="form-control" id="new-league-name" placeholder="Add a new league" ng-model="newLeague.name">
                
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addLeague()"><span class="glyphicon glyphicon-ok"></span>
                    </button>
                </span>
            </div>
        </li>
    </ul>
</div>

<div class="left main-content">
    <h2>{{ selectedLeague.name }}</h2>

    <ul>
        <li ng-repeat="match in matches">
            <div>{{ match.homeTeam }} : {{ match.guestTeam }} ({{ match.dueDate }})</div>
        </li>
    </ul>
    
    <button ng-click='addMatch()'>Add match...</button>

    <modal-dialog show='showEditMatchDialog' width="500px">
        <div class="modal-header">
            <h3>{{ selectedMatch._id ? 'Edit match' : 'Add new match' }}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="left control-label">Due Date: </label>
                <div class="left">
                    <input type="date" ng-model="selectedMatch.dueDate" class="form-control" required>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <table>
                <tr><th>Home</th><th></th><th>Guest</th></tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Home team" ng-model="selectedMatch.homeTeam"/></td>
                    <td>&nbsp; - &nbsp;</td>
                    <td><input type="text" class="form-control" placeholder="Guest team" ng-model="selectedMatch.guestTeam"/></td>
                </tr>
            </table>

        </div>
        <div class="modal-footer">
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="saveMatch(selectedMatch)">OK</button>
                <button class="btn btn-warning" ng-click="cancelEditMatch()">Cancel</button>
            </span>
        </div>
    </modal-dialog>
</div>
