{% extends '../layout.html' %}

{% block scripts %} <script type="text/javascript" src="/js/matches.js"></script> {% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="left left-area">
    <ul class="league-list">
        {% for league in leagues%}

        <li><div id="{{ league.id }}" class="league-item">{{ league.name }}</div></li>

        {% endfor %}

        <li>
            <div class="league-item">
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                
                <div class="input-group">
                  <input type="text" class="form-control" id="new-league-name" placeholder="Add a new league">
                  <span class="input-group-btn">
                    <button class="btn btn-default add-league" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                  </span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="left">
    
</div>

<div class="clearfix"></div>

<script type="text/javascript">
    $(document).ready(function() {
        initializeMatchHandler({
            addLeagueUrl: '/matches'
        });
    });
</script>

{% endblock %}
