<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{{pkg.description}}">
    <meta name="keywords" content="{{pkg.keywords.join(',')}}">
    
    <meta name="og:title" content="{{pkg.name}} - {% block title %}{% endblock %}">
    <meta name="og:description" content="{{pkg.description}}">
    <meta name="og:url" content="http://www.tipexpert.net">
    <meta name="og:image" content="http://www.tipexpert.net/files/tipexpert/img/preview.png">
    <meta name="og:site_name" content="{{pkg.name}}">

    <title>{{pkg.name}} - {% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="/css/site.css"/>
</head>
<body>

    <header id="header">
        <a href="/"><div id="header-logo"></div></a>
        <h1>{% block title %}{% endblock %}</h1>

        {% block header %}{% endblock %}
    </header>

    <section role="main">
        {% block body %}{% endblock %}
    </section>
</body>
</html>