<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{{pkg.description}}">
    <meta name="keywords" content="{{pkg.keywords.join(',')}}">

    <meta name="og:title" content="{{pkg.name}} - {% block title %}{% endblock %}">
    <meta name="og:description" content="{{pkg.description}}">
    <meta name="og:url" content="http://www.tipexpert.net">
    <meta name="og:image" content="http://www.tipexpert.net/files/tipexpert/img/preview.png">
    <meta name="og:site_name" content="{{pkg.name}}">

    <title>{{pkg.name}} - {% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="/css/site.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.css"/>

    <script type="text/javascript" src="/js/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.history.js"></script>
    
     {% block scripts %}{% endblock %}
</head>
<body>

    <header id="header">
        <div class="left">
            <a href="{{ url('home') }}"><div id="header-logo">&nbsp;</div></a>
        </div>
        <div class="left">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
        <div class="right">
            {% include "users/userInfo.html" %}
        </div>
        <div class="clear"/>
    </header>

    <section role="main">
        {% block body %}{% endblock %}
    </section>
</body>
</html>
