<div>
    <form role="form" name="submitForm" class="form-horizontal" novalidate>
        <fieldset>

            <!-- TITLE -->
            <div class="form-group" ng-class="{ 'has-error' : submitForm.name.$invalid && submitted }">
                <div class="col-lg-8">
                    <input class="form-control game-title" type="text" name="title" ng-model="game.title" placeholder="Enter title of the game" required>
                    <p ng-show="submitForm.name.$invalid && submitted" class="help-block">Title is required.</p>
                </div>
            </div>
            
            <!-- DESCRIPTION -->
            <div class="form-group" ng-class="{ 'has-error' : submitForm.description.$invalid && submitted }">
                <div class="col-lg-8">
                    <textarea class="form-control game-description" type="text" name="description" ng-model="game.description" 
                              placeholder="Enter a optional description for your game"></textarea>
                    <p ng-show="submitForm.description.$invalid && submitted" class="help-block">Title is required.</p>
                </div>
            </div>

            <!-- MIN-STAKE -->
            <div class="container row">
                <h4 translate="GAME-MINSTAKEAREA"></h4>

                <div class="form-group" ng-class="{ 'has-error' : submitForm.minStake.$invalid && submitted }">
                    <div class="col-lg-8">
                        <label class="left control-label">Minimum Stake:</label>
                        <div class="left">
                            <input class="form-control game-min-stake" type="text" name="minStake" ng-model="game.minStake" placeholder="Minimum stake">
                            <p ng-show="submitForm.minStake.$invalid && submitted" class="help-block">Min stake is required.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- MATCHES -->
            <div class="container row matches-container">

                <h4 translate="GAME-MATCHAREA"></h4>

                <p>Choose the matches on which you and your friends should tip.</p>
                <p>
                    The matches can be of any league so you can select e.g. a Premier League match 
                    as well as any Champions League matche and add it to your tip game.
                </p>

                <span class="input-group-btn">
                    <button ng-click="addMatch()" class="btn">Add Match</button>
                </span>

                <ul>
                    <li ng-repeat="matchContainer in game.matches">
                        <div>{{ matchContainer.match.homeTeam }} : {{ matchContainer.match.guestTeam }} ({{ matchContainer.match.dueDate }})</div>
                    </li>
                </ul>

            </div>

            <!-- PLAYERS -->
            <div class="container row players-container">

                <h4 translate="GAME-PLAYERSAREA">Players</h4>

                <p>Choose your friends which should play the tip game with you.</p>
                
                <span class="input-group-btn">
                    <button ng-click="addPlayer()" class="btn">Add Player</button>
                </span>

                <ul>
                    <li ng-repeat="player in game.players">
                        <div>{{ player.user.name }}</div>
                    </li>
                </ul>

            </div>

            <!-- BUTTONS -->
            <div class="form-group buttonbar-offset row">
                <div class="col-lg-10">
                    <a ui-sref="games.overview" title="back" class="btn-default btn">Back</a>
                    <button ng-click="save()" class="btn btn-primary">Save</button>
                </div>
                
                <div class="col-lg-1">
                    <button ng-click="delete()" class="btn">Delete</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
