<div class="container">
    
    <div class="row">
        <h1>{{ game.title }}</h1>
        <p class="game-description">{{ game.description }}</p>
    </div>

    <div class="game-stake row">
        
        <p class="left">Your Stake:</p>

        <div ng-show="!editStake">
            <p class="stake-text left">{{ game.player.stake }}</p>
            <div class="edit-stake-button left" ng-hide="game.isFinished" ng-click="editStake = true">Edit...</div>
        </div>

        <form name="stakeForm" class="stake-form left" ng-show="editStake" novalidate>

            <div class="input-group" ng-class="{ 'has-error' : stakeForm.stake.$invalid && submitted }">
                <div class="left">
                    <input type="number" name="stake" ng-model="stake" class="form-control" required min="{{ minStake }}">
                </div>

                <span class="input-group-btn left">
                    <button class="btn btn-default" type="button" ng-click="saveStake()"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-default" type="button" ng-click="cancelEditStake()"><span class="glyphicon glyphicon-remove"></span></button>
                </span>

                <div class="left">
                    <p ng-show="stakeForm.stake.$invalid && submitted" class="help-block">A stake with a minimum of {{ minStake }} coins is required!</p>
                </div>
            </div>
        </form>
        
        <div class="clear"></div>
    </div>


    <!--<div class="game-participants row">
        <h3 translate="GAME-PARTICIPANTS"></h3>
        <ul>
            <li ng-repeat="player in game.allPlayers">
                <img class="left" ng-src="{{ player.picture }}" alt="avatar" height="40" ng-hide="{{ !player.picture }}" />
                <div class="left">{{ player.name }}</div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>-->
 
    <div class="game-tips row" ng-show="notFinishedMatches.length > 0">
        <h3 translate="GAME-TIPS"></h3>
		<p translate="GAME-TIPS-DESCRIPTION"></p>
        
		<table>
            <tr ng-repeat="tip in notFinishedMatches = (game.player.tips | filter:{ finished: false })"
                ng-init="tip.oldHomeTip = tip.homeTip; tip.oldGuestTip = tip.guestTip">

                <td class="game-tip-team-col">{{ tip.homeTeam }}</td>
                <td>&nbsp; - &nbsp;</td>
                <td class="game-tip-team-col">{{ tip.guestTeam }}</td>
                <td class="game-tip-score-left-col">
                    <input type="text" class="form-control game-tip-score" ng-model="tip.homeTip"
                           ng-change="tip.showSaveButton = true" />
                </td>
                <td>&nbsp; : &nbsp;</td>
                <td>
                    <input type="text" class="form-control game-tip-score" ng-model="tip.guestTip"
                           ng-change="tip.showSaveButton = true" />
                </td>
                <td ng-show="tip.showSaveButton">
                    <span class="input-group-btn left">
                        <button class="btn btn-default" type="button" ng-click="saveTip(tip)">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
                        
						<button class="btn btn-default" type="button" ng-click="cancelTipEditing(tip)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    
	<div ng-show="game.isFinished" class="row">
		<h3 translate="GAME-STATISTICS-FINISHEDGAME"></h3>
		
		<div class="game-finished-statistics">
			<div><span translate="GAME-RANKING-COL"></span> {{ game.player.ranking }}.</div>
			<div><span translate="GAME-SUMPOINTS-COL"></span> {{ game.player.totalPoints }}</div>
			<div><span translate="GAME-EARNEDCOINS"></span> {{ game.player.profit }}</div>
		</div>
	</div>
	
	
	<div class="game-finished-tips row" ng-show="finishedMatches.length > 0">
		<h3 translate="GAME-STATISTICS"></h3>
		<p translate="GAME-STATISTICS-ALLMATCHES"></p>
		
		<table>
			<tr>
				<!-- Placeholder for columns without headline -->
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th class="game-tip-result-caption-col" 
					ng-repeat="p in game.allPlayers">{{ p.name }}</th>
			</tr>
			
			<tr ng-repeat="tip in finishedMatches = (game.player.tips | filter:{ finished: true })">
				<td class="game-tip-team-col">{{ tip.homeTeam }}</td>
				<td>&nbsp; - &nbsp;</td>
				<td class="game-tip-team-col">{{ tip.guestTeam }}</td>
				<td class="game-tip-score-left-col">{{ tip.homeResult }}</td>
				<td>&nbsp; : &nbsp;</td>
				<td>{{ tip.guestResult }}</td>
				
				<td ng-repeat="t in tipsOfAllPlayers = (tip.finishedTipsOfAllPlayers)">
				
					<div class="game-tip-result-col">
						{{ t.homeTip }}&nbsp; : &nbsp;{{ t.guestTip }} ({{ t.points }})
					</div>
				
				</td>
			</tr>
			
			<tr>
				<td colspan="6" class="game-tip-sumrow-col" translate="GAME-SUMPOINTS-COL"></td>
				<td class="game-tip-sumrow-value-col" ng-repeat="p in game.allPlayers">{{ p.points }}</td>	
			</tr>
			
			<tr>
				<td colspan="6" class="game-tip-rankingrow-col" translate="GAME-RANKING-COL"></td>
				<td class="game-tip-rankingrow-value-col" ng-repeat="p in game.allPlayers">{{ p.ranking }}.</td>	
			</tr>
		</table>
	</div>
	
    <div class="form-group buttonbar-offset row">
        <a ui-sref="games.overview" title="back" class="btn-default btn">Back</a>
    </div>
</div>
