<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" translate="GAME-SELECT-MATCH-HEADER">Select the matches for your tip game</h4>
    </div>


    <div class="modal-body">
        <div class="modal-description" translate="GAME-SELECT-MATCH-DESCRIPTION"></div>
        
        <div class="league-selection">
            <div class="left">Show matches for league:</div>
            <div class="left">
                <select class="league-dropdown" ng-model="league" ng-options="l.name for l in leagues" ng-change="loadMatches(league)" ></select>
            </div>
            <div class="clear"></div>
        </div>
        
        <div class="match-selection">
            <ul>
                <li ng-repeat="match in matches" ng-click="toggleMatchSelection(match)" ng-class="{ 'selected-match': match.selected }" class="match-selection-item">
                    <div>{{ match.homeTeam }} : {{ match.guestTeam }} ({{ match.dueDate }})</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
        </span>
    </div>
</div>
