<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" translate="GAME-SELECT-PLAYER-HEADER"></h4>
    </div>


    <div class="modal-body">
        <div class="modal-description" translate="GAME-SELECT-PLAYER-DESCRIPTION"></div>
        
        <div class="user-selection">
            <ul>
                <li ng-repeat="user in users" ng-click="toggleUserSelection(user)" ng-class="{ 'selected-user': user.selected }" class="user-selection-item">
                    <div>{{ user.name }}</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
        </span>
    </div>
</div>
